body{
    font-family: 'Press Start 2P', cursive;
}
header{
    position: relative;
}
div{
    margin: 15px;
}

progress{
    margin-top: 15px !important;
    margin-left: auto !important;
}
.nes-balloon.from-right:empty{
    display: none;
}
.nes-balloon.from-right{
    position: fixed;
    z-index: 10;
    top: 10%;
    left: 50%;
    padding: 5px;
}
.card{
    background-image: url('../imgs/Memory_Math_cardback.png');
    width: 140px;
    height: 207px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    /*padding: 60px 13px 0px 16px;*/
    word-break: break-all;
    vertical-align: text-top;
    color: transparent;
    align-items: center;
    padding-left: 46px;
}
.show{
    background-image: url('../imgs/Memory_math_cor_3.png');
    color: #000;
}
.pontuacao{
    text-align: right;
    margin: 2%;
}
dialog #pergunta{
    word-break: break-all;
}